### Jekyll ###
_site/

# ignore python compiled files
*.pyc

# ignore vim swp files and gedit temp files
*.swp
*.*~
.vim

# ignore db files
*.db
*.sqlite

# ignore any diff/patch files
*.diff
*.patch
*.log

# ignore Mac folder settings files
.DS_Store
